.location
    &__content
        width: 100%
        text-align: left
        color: #ffffff
        line-height: 35px
        overflow: hidden
    
    &__city
        margin: 0
        color: #ffffff
        white-space: nowrap

.weatherLocation
    &__content
        background: #900c3e
        padding: 25px
        font-family: 'Roboto', sans-serif
        box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75)
        width: calc(100% - 20px)
        margin: 0 10px 10px 10px
        min-width: 350px
        box-sizing: border-box