.weatherData
    &__content
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        line-height: 100px
        border-radius: 5px
        padding: 10px
        box-sizing: border-box
        cursor: pointer


.weatherExtraInfo
    &__content
        width: 45%
        line-height: 28px
        text-align: left
    
    &__text
        color: #ffffff
        
.weatherTemperature
    &__temperature
        color: #ffc300
        font-size: 28px
        font-weight: bold
        padding-left: 20px

        &-type
            color: #ffc300
            font-weight: bold

.wicon
    color: #ffffff