.app
    font-family: 'Roboto', sans-serif
    overflow-x: hidden

.MuiAppBar-colorPrimary
    background: #59164c!important

.details
    height: 85vh
    width: calc(100% - 40px)
    overflow: auto
    padding: 0 20px

@media (max-width: 64em)
    .details
    height: 40vh