.forecastItem
    &__content
        background: #900c3e
        padding: 15px
        margin-bottom: 10px
    
    &__subtitle
        color: #ffc300

.forecastExtended
    &__subtitle
        color: #ff5733
        text-align: center
        padding: 15px 0